
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .filter-container{
  display: 'flex'; 
  flex-direction: 'column';
  align-items: 'flex-start';
  border: '2px solid black';
  padding: '10px';
  width: '200px'; 
  position: 'absolute';
  left: '20px';
  top: '20px'; 
  background-color: '#fff'; 
} */

.filter-label{
  font-size:20px;
  font-weight:900;
  margin:10px;
}


.filter-button{
  border:solid 1px black;
  width:70px;
  margin:5px;
  background-color: #ede9e6;
  box-shadow: 3px 3px gray;
}

 
.filter-button:focus {
  text-decoration: none;
}

.filter-button:hover {
  text-decoration: none;
}

.filter-button:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}


.filter-button:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

.filter-button p{
  font-size: 10px;
  margin-bottom:5px;
  background-color: transparent;
}

.filter-button span{
  background-color: transparent;
}

.filter-button:hover,.filter-button2:hover, button.selected {
  background-color: #fff0c3;
  font-weight:700;
}

.filter-sublabel{
  font-size: 1.2rem;
  font-weight: 900;
  margin:10px;
}

.filter-button2{
  border:1px solid black;
  background-color: transparent;
  font-size:10px;
  margin:0 10px;
  box-shadow: 3px 3px gray;
}
